<footer class="py-5 " style="background-color: rgb(221, 221, 221);  margin-top: 50px;">
    <!-- <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div> -->
    <div class="row">
        <div class=" col-2 ">
            <h5 style="font-weight: 400;
 font-style: normal;
 font-size: 12px;
 color: #999;
 letter-spacing: 1px;
 font-variant-ligatures: none;
 text-transform: uppercase; margin-left: 100px;">OUR COMPANY</h5> <br>
            <p class="text-white" style="font-weight: 400;
 font-style: normal;
 font-size: 12px;
 letter-spacing: 1px;
 font-variant-ligatures: none;
  margin-left: 100px;"> About Us <br> <br>
                Career <br> <br>
                 Blog<br> <br>
               Our Store <br><br>
               Customer Services
            </p>
        </div>
        <div class="col-2">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">USEFUL LINKS</h5> <br>

            <p class="text-white" style="font-weight: 400;
font-style: normal;
font-size: 12px;

letter-spacing: 1px;
font-variant-ligatures: none;
 margin-left: 100px;">Custom Furniture <br><br>
Exporters<br><br>
Buy in Bulk<br><br>
Refer & Earn<br><br>
Delivery Location<br><br>
Sitemap</p>
        </div>
        <div class=" col-2">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">SHOP BY ROOM</h5> <br>

            <p class="text-white" style="font-weight: 400;
font-style: normal;
font-size: 12px;
letter-spacing: 1px;
font-variant-ligatures: none;
margin-left: 100px;">iving Room <br><br>
Bedroom <br><br>
Dining Room <br><br>
Outdoor <br><br>
Home Decor <br><br>
Modular Furniture <br><br>
Modular Kitchen</p>
        </div>
        <div class=" col-2">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">FIND US ON</h5> <br>

            <p class="text-white" style="font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    font-variant-ligatures: none;
    text-transform: uppercase; margin-left: 100px;"><i class="fa-brands fa-facebook-f"></i> Facebook <br><br>
                <i class="fa-brands fa-twitter"></i> Twitter <br><br>
                <i class="fa-brands fa-instagram"></i> Instagram <br><br>
                <i class="fa-brands fa-youtube"></i> YouTube <br><br>
                <i class="fa-brands fa-snapchat"></i> Snapchat
            </p>
        </div>
        <div class=" col-3">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">SIGN UP FOR WHITESPACE UPDATES </h5> <br>

            <p class="text-white" style="font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1px;
    font-variant-ligatures: none;
     margin-left: 100px;"> By entering your email address below, you consent to receiving our newsletter with access to
                our latest
                collections, events and initiatives. More details on this are provided in our Privacy Policy
            </p>
            <form action="">
                <input class=""  type="text" style="margin-left: 100px; background-color: aliceblue;" placeholder="Email Address">
            </form> <br>
            <p style="font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    font-variant-ligatures: none;
    text-transform: uppercase; margin-left: 100px;">STORE LOCATOR</p> <br>
            <form action="">
                <input class="" type="text" style="margin-left: 100px; background-color: aliceblue;" placeholder="city,Region,Country">
            </form>

        </div> <br><br> <br>
        <div class="container ">
            <p class="m-0   text-center text-white">Terms of Use | Security  | Return & Refund | Payment Policy | Grievance Cell <br>
                © 2015-2023 Woodenstreet.com. All rights reserved.</p>
        </div>


    </div>
</footer>