/* You can add global styles to this file, and also import other style files */
.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid black;
    color: black;
}

.form-button {
    height: 35px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.error-p{
    color: red;
}
.max-width{
    width: 100%;
}
.message-p{
    color: green;
    text-align: center;
}